env
*node_modules
node_modules
***node_modules
***node_modules

dist
*dist
.env.example
.next
.kiro
DEPLOYMENT-FILES-SUMMARY.md
DEPLOYMENT-GUIDE.md
DEPLOYMENT-SUMMARY.md
DEPLOYMENT.md
DEPLOYMENT.md
RENDER-DEPLOYMENT-GUIDE.md
apps\dev-auth-backend\RENDER-README.md
